<div class="detail-top">
    <div id="prev"><img src="images/ic_bar_back_white.png" alt=""></div>
    <div class="detail-wrap"></div>
    <div class="detail-info">
        <img src="" alt="">
        <p class="content_"></p>
        <div class="author_">
            <img src="" alt="">
            <span></span>
        </div>
    </div>
</div>

<ol id="musiclist">
</ol>
<div id="listitem" style="display: none;">
    <li>
        <p class="music"></p>
        <p class="artist"></p>
        <i></i>
        <span></span>
    </li>
</div>