
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img class="auto" src="images/banner1.jpg" /></div>
        <div class="swiper-slide"><img class="auto" src="images/banner2.jpg" /></div>
        <div class="swiper-slide"><img class="auto" src="images/banner3.jpg" /></div>
        <div class="swiper-slide"><img class="auto" src="images/banner4.jpg" /></div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>

    <!-- 如果需要导航按钮 -->


    <!-- 如果需要滚动条 -->
    <div class="swiper-scrollbar"></div>
</div>
<p class="tj"><img class="aei" src="./images/aei.png" /><span>推荐歌单</span></p>
<div class="song-list">
    <div id="templateItem" style="display: none;">
        <div class="item">
            <a href="#" onclick="router('detail')">
                <img class="auto" src="images/3302932937405065.jpg" alt="">
                <p>老板，给我来一打这样的女友</p>
                <div class="num">200</div>
            </a>
        </div>
    </div>
</div>
<div class="load-img">
    <img src="images/load.gif"/>
</div>