<div class="music-play">
    <div class="music-play-top">
        <div class="back-img">
            <img src="images/ic_bar_back_white.png" alt="">
        </div>
        <div class="info-music">
            <p class="top-music-name">加载中</p>
            <p class="bot-music-author">加载中</p>
        </div>
    </div>
    <div class="music-play-bottom">
        <div class="handle">
            <img src="images/stick_bg.png" alt="">
        </div>
        <div class="circle">
            <img class="wrapper" src="images/cd_wrapper.png" alt="">
            <img class="mycircle" src="images/player-bar.png" alt="">
        </div>
        <div class="control">
            <img class="pre" src="images/prev_hover.png" alt="">
            <img class="pause-start active" src="images/pause.png" alt="">
            <img class="next" src="images/next_hover.png" alt="">
        </div>
    </div>

</div>
<div class="layer"></div>
