<p class="tj"><img class="aei" src="./images/aei.png"><span>官方榜</span></p>
<div class="rank-list">
    <div class="rank-item">
        <div class="img-item">
            <img class="img" src="./images/rank_1.jpg" alt="">
        </div>
        <div class="info-item">
            <p><span>1.</span><span>识食物者为俊杰</span>-<span>冯提莫</span></p>
            <p><span>2.</span><span>就这样</span>-<span>李荣浩</span></p>
            <p><span>3.</span><span>Malibu(Alan walker Remix)</span>-<span>Miley Cyrus</span></p>
        </div>
    </div>
    <div class="rank-item">
        <div class="img-item">
            <img class="img" src="./images/rank_2.jpg" alt="">
        </div>
        <div class="info-item">
            <p><span>1.</span><span>追光者</span>-<span>岑宁儿</span></p>
            <p><span>1.</span><span>识食物者为俊杰</span>-<span>冯提莫</span></p>
            <p><span>3.</span><span>下一站茶山刘</span>-<span>房东的猫</span></p>
        </div>
    </div>
    <div class="rank-item">
        <div class="img-item">
            <img class="img" src="./images/rank_3.jpg" alt="">
        </div>
        <div class="info-item">
            <p><span>1.</span><span>下一站茶山刘</span>-<span>房东的猫</span></p>
            <p><span>2.</span><span>Mr. Wonderful</span>-<span>Vinida (万妮达)</span></p>
            <p><span>3.</span><span>闪光的回忆</span>-<span>逃跑计划</span></p>
        </div>
    </div>
    <div class="rank-item">
        <div class="img-item">
            <img class="img" src="./images/rank_4.jpg" alt="">
        </div>
        <div class="info-item">
            <p><span>1.</span><span>追光者</span>-<span>岑宁儿</span></p>
            <p><span>2.</span><span>童话镇</span>-<span>陈一发儿</span></p>
            <p><span>3.</span><span>成都</span>-<span>赵雷</span></p>
        </div>
    </div>
</div>